<%= stylesheet_link_tag "result", "data-turbo-track": "reload" %>
        <section class="body">
        <section class="sect">
            <div class="title mtop">
                <h1>Result <br><span><%= notice %></span><br><%= button_to("Back", root_path, method: :get) %></h1>
            </div>
            <div class="flexbreak"></div>
            <div class="box mtop forpara" lang="ar" dir="ltr">
                <div class="para">
                    <h1>MUKADIMAH</h1><br>
                    <h3>Definisi Sholati ila Mamati</h3><br>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus accusantium unde sit numquam. Temporibus impedit vero architecto ex ipsam corporis. Porro impedit optio, praesentium similique eius accusamus corporis facere fugit!</p>
                    <div class="flexbreak"></div>
                </div>
                </div>
            </div>
        </section>
    </section>