@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

.sect {
    background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/5bd17b7d6a493-wallpaper-18865c7acf1c8739cea09962a2a9fbf0.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box {
    background-color: transparent;
    height: 35rem;
    width: 60rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    text-align: center;
}

input[type='email'], input[type='password'], input[type='text'] {
    outline: none;
    border: 1px solid transparent;
    border-radius: 50px;
    height: 3rem;
    width: 15rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    transition: .5s;
    caret-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 15px;
    backdrop-filter: blur(5px);
}

input[type='email']::placeholder, input[type='password']::placeholder, input[type='text']::placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

input[type='email']:focus, input[type='password']:focus, input[type='text']:focus, input[type='email']:hover, input[type='password']:hover, input[type='text']:hover {
    background-color: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0.4);
}

.age input {
    outline: none;
    border: 1px solid transparent;
    border-radius: 50px;
    height: 3rem;
    width: 8rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    transition: .5s;
    caret-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 15px;
}

.inputs {
    width: 50rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 2rem;
}

.flexbreak {
    flex-basis: 100%;
    height: 0;
}

.mtop {
    margin-top: 1rem;
}

.mright {
    margin-right: 1rem;
}

.title h1 {
    color: #fff;
    font-weight: 200;
    position: relative;
    top: 3rem;
}

.btn input {
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    outline: none;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-weight: 300;
    transition: .5s;
}

.btn input:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
}

details {
	position: relative;
	width: 300px;
	margin-right: 1rem;
}

details[open] {
	z-index: 1;
}

summary {
	padding: 0.8rem;
	cursor: pointer;
	border-radius: 50px;
	background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
	list-style: none;
    border: 1px solid transparent;
    transition: .5s;
}

summary:hover {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
	display: block;
	float: right;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(80%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(135deg) translate(80%, 0%);
}

.list {
	width: 100%;
	background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
	position: absolute;
	top: -13rem;
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 20px;
	max-height: 200px;
	overflow-y: auto;
}

ul::-webkit-scrollbar {
    display: none;
}

.list li {
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
    list-style: none;
    color: #fff;
    font-weight: 300;
}

.list li:first-child {
	padding-top: 0;
}

.list li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
	counter-reset: radios;
    height: 3rem;
    color: #fff;
}

summary.radios:before {
	content: var(--selection);
}

input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
    color: #fff;
    font-weight: 300;
}

input[type=radio]:checked {
	display: inline;
	--display: block;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

ul.list {
	counter-reset: labels;
}

label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}

.link p {
    color: #fff;
    font-weight: 300;
}

.link p a {
    color: #ccc;
    transition: .5s;
    text-decoration-color: transparent;
}

.link p:hover a {
    text-decoration-color: #fff;
}

.flexbreak2 {
    flex-basis: 40%;
    height: 0;
}

.title div h2 {
    font-size: 15px;
    font-weight: 300;
}

.title div li {
    font-weight: 200;
    font-size: 10px;
    list-style: none;
}